@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Philosopher:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
h1{
    font-family: 'Lemonada', cursive;
    text-align: center;
    padding-top: 5%;
}
.bol{
    text-align: center;
}
.text{
    text-align: center;
    font-family: 'Lemonada', cursive;
    font-size: 10px;
}
.col-md-4{
    display: flex;
    flex-direction: row;
}
#all{
    margin-left: 10%;
}
#pic{
    border-radius: 40%;

}
.yes,.yess,.gogo{
    font-family: 'Lemonada', cursive;
}
#body{
    background-image: url("/images/9345164_f8483d1e-0997-4933-988e-f9a602ea875b_1600x952.jpg");
    width: 100%;
    background-attachment: fixed;
    opacity: 80%;
}

#pic:hover{
    -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111122;
  }
  #text{
      font-size: 20px;
  }
  .tes{
      text-align: center;
      font-family: 'Lemonada', cursive;
  }
  #icons{
      text-align: center;
      padding-top: 5%;
      position: relative;
      bottom: 100%;
  }
  .texts{
    font-family: 'Lemonada', cursive;
    text-align: center;
  }
  #cont{
      text-align: center;
      padding-top: 5%;
  }
  .jaza{
      text-align: center;
      font-family: 'Sriracha', cursive;
  }
  .pic{
      text-align: center;
  }
  #click{
      text-align: center;
      font-family: 'Sriracha', cursive;
  }
  .me{
      text-align: center;
      font-family: 'Lemonada', cursive;
}
.slides{
    display:none;
}
.slideshow-container{
    padding-left:25%;
    padding-right: 25%;
    width:100%;
    padding-top:5%;
    text-align: center;
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }