@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Sriracha&display=swap');
h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-top: 5%;
}
.bol{
    text-align: center;
}
.text{
    text-align: center;
    font-family: 'Lemonada', cursive;
    font-size: 10px;
}
.col-md-4{
    display: flex;
    flex-direction: row;
}
#all{
    margin-left: 10%;
}
#pic{
    border-radius: 40%;

}
.yes,.yess,.gogo{
    font-family: 'Lemonada', cursive;
}
#body{
    background-color: rgb(193, 199, 211);
    background-attachment: fixed;
    background-size: cover;
}
#pic:hover{
    -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111122;
  }
  #text{
      font-size: 20px;
  }
  .tes{
      text-align: center;
      font-family: 'Lemonada', cursive;
  }
  #icons{
      text-align: center;
      padding-top: 5%;
      bottom: 50%;
  }
  .texts{
    font-family: 'Lemonada', cursive;
    text-align: center;
  }
  #cont{
      text-align: center;
      padding-top: 5%;
  }
  .jaza{
      text-align: center;
      font-family: 'Sriracha', cursive;
  }
  .pic{
      text-align: center;
  }
  #click{
      text-align: center;
      font-family: 'Sriracha', cursive;
  }